/*
  ========================================
  LASTSUNDAY - PERSONAL BLOG THEME
  ========================================

  @author			: @avriqq
  @version		: v1.1
  @date-create	: 08/11/2012
  @last-update	: 09/24/2014
  @file-name		: demo

*/

.demo-btn{
  position: fixed;
  z-index: 5;
  left: -1px;
  top: 200px;
  width: 38px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 42px;
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
     -o-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
}

.demo-container{
  position: fixed;
  z-index: 999;
  left: 0;
  top: 242px;
  background-color: #434a54;
  width: 168px;
  height: 150px;
  padding: 0;
  margin: 0;
  border: 3px solid #6b6e80;
  border-left: none;
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
     -o-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
}

.demo-container h4{
  margin: 20px 20px 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.demo-container ul{
  margin: 20px 20px 20px 20px;
  padding: 0;
  list-style-type: none;
}

.demo-container ul > li{
  float: left;
  margin: 0;
  padding: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #434a54;
  border-bottom: 1px solid #434a54;
  border-left: none;
}

.demo-btn:hover,
.demo-container ul > li:hover{
  cursor: pointer;
}

.demo-container ul > .color-mint{
  background-color: #37bc9b;
}

.demo-container ul > .color-orange{
  background-color: #e9573f;
}

.demo-container ul > .color-green{
  background-color: #8cc152;
}

.demo-container ul > .color-yellow{
  background-color: #f6bb42;
}

.demo-container ul > .color-red{
  background-color: #da4453;
}

.demo-container ul > .color-blue{
  background-color: #4a89dc;
}

.demo-container ul > .color-purple{
  background-color: #967adc;
}
